@import "../../styles/variables.scss";
.error {
  text-align: center;

  &_button {
    background-color: $color-primary;
    border: none;
    border-radius: 2px;
    padding: 10px 12px;
    cursor: pointer;
    color: #fff;
  }
}
