@import "../../styles/mixin.scss";
.navigation-drawer {
  position: fixed;
  top: 0;
  left: -280px;
  height: 100vh;
  width: 260px;
  background-color: #fff;
  @include box-shadow(5);
  transition: left 0.5s ease-in-out;

  &--open {
    left: 0;
  }
  &_head {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;

    &_button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &_menu {
    margin-top: 16px;
    padding: 0 8px;

    &_item {
      display: block;
      width: 100%;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;
      padding: 6px 8px;
      i {
        margin-right: 8px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }
  }
}
